@import "../style.css";

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

h1, h2, p, h3 {
    text-align: center;
}

button {
    font-size: 1em;
    padding: 0.5em 1em;
    margin: 0.5em;
    text-decoration: none;
    border-radius: 20em;
    border: 2px solid var(--text-color);
    cursor: pointer;
}

button:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

input {
    margin: auto;
}

#header {
    width: 100%;
    padding: 0em 2em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

#timer #score {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#questions {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}